/*=== CONFIGURAÇÕES GERAIS======*/


/*ESTILO DO CORPO DA PÁGINA*/
body{
    font-family: Arial, Helvetica, sans-serif; /*fonte*/
    margin: 0; /*margem defina como zero ou seja sem margem*/
    padding: 0; /*espaçamento*/
    color: white; /*cor do texto*/
    background-color: #302a2a ; /*cor do fundo da pagina*/   
}

/* ESTILO APLICADO AOS TITULOS "H´S" */
h1, h2, h3{
    color:black ;
    text-align: center; /*alinhamnento do textos "h´s"*/
}

/* estilos paragrafos */
p{
    line-height: 1.6; /*espaçamento entre cada linha*/
    margin: 10px; /*margem (espaçamento entre paragrafos)*/
    text-align: center; /*alinhamnento do textos "p´s"*/
}

/* Estilo do cabeçalho da pagina "HEADER" E "MENU" */

header{
    background-color: black;
    color: white;
    padding: 20px;
}
/* destaque da palavra tech */
.logo a {
    text-decoration: none; /*sublinahdo do link*/
    font-size: 20px; 
    color: white;
    font-weight: bold;   
}
/*destaque da palavra educa*/
.logo span{
    color: white;
}
/*conteiner do menu*/
.menu{
    text-align: center; /*cnetraliza os links*/
    margin-top: 10px; /*margem/espaçamento do topo*/ 
}
/*estilo dos links do menu*/
.menu a {
    color: white;
    text-decoration: none; 
    margin: 15px;
    font-weight: bold; /*negrito*/
}

.menu a:hover{
    color:white;
}

.li{
    text-align: center;

}

ul {
  width: 15%;
  margin: 0 auto
}

/*=========SEÇÃO PRINCIPAL========*/
/*AREA DE DESTAQUE SUPERIOR*/
.hero{
background-color: gray;
text-align: center;
padding: 60px 20px;
}
/*titulo da hero*/
.hero h1{
    font-size: 35px;
    color: black;
}
/* paragrafo da hero */
.hero p {
    font-size: 10px;
    margin-bottom: 20px;
}

.produto { 
    text-align: center;
}


/*RODAPE*/
/*AREA inferior fixa na pagina */

footer{
    background-color: grey;
    color: lightgray ;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/*links dentor do rodapé*/

footer a{
    color: black; /*texto laranha*/
    text-decoration: none;
}
