body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    color: black;
    background-color: white;
}

h1,h2,h3{
    color: #1a4db3;
    text-align: center;
}

p{
    line-height: 1.6;
    margin: 10px;
}

header{
    background-color: #1a4db3;
    color: white;
    padding: 20px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.logo span{
    color: darkorange;
}

.menu{
    text-align: center;
    margin-top: 10px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.menu a:hover{
    color: darkorange;
}

.hero{
    background-color: lightgray;
    text-align: center;
    padding: 60px 20px;
}

.hero h1{
    font-size: 35px;
    color: #1a4db3;
}

.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}

.Curso{
        text-align: center;
}

footer{
    background-color: #1a4db3;
    color:lightgray;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a{
    color: darkorange;
    text-decoration: none;
}